@import "../../scss/global/variables";
@import "../../scss/global/mixins";

.form {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px $padding;
    @include box();

    &__title {
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    &__field {
        position: relative;
        max-width: 280px;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__label {
        position: relative;
        display: block;
        color: $c-gray;

        &:focus {
            opacity: 0.5;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: 0 50%;
            transition: $transition;
        }
    }

    &__input {
        display: block;
        width: 100%;
        height: 30px;
        padding: 0;
        font-size: 13px;
        background: transparent;
        border: none;
        border-bottom: 1px solid $c-violet;
        outline: none;
        @include autocompleteInputBg();

        &:-webkit-autofill,
        &:not(:placeholder-shown),
        &:focus {
            & + span {
                top: -15px;
                transform: scale(0.7);
            }
        }
    }

    &__error {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 7px;
        color: #ff2f2f;
        font-size: 8px;
        transition: $transition;
        pointer-events: none;

        .is-invalid & {
            margin-top: 7px;
            opacity: 1;
        }
    }

    &__links {
        margin-top: 14px;
        text-align: center;
    }
}
