<form class="form" autocomplete="off">
    <h2 class="form__title">{{ title }}</h2>
    {{#each fields}}
        {{> field }}
    {{/each}}
    <div class="form__buttons">
        {{> button button }}
    </div>    
    <div class="form__links">
        {{> link link }}
    </div>
</form>