<form action="" class="user__form">
    {{#each fields}}
        {{> userField }}
    {{/each}}
    {{#if buttons }}
        <div class="user__links">
            {{#each buttons}}
                {{> button }}
            {{/each}}
        </div>
    {{/if}}
    {{#if links }}
        <div class="user__links">
            {{#each links}}
                {{> userLink }}
            {{/each}}
        </div>
    {{/if}}
</form>