<form class="dialog__form">
    <div class="dialog__file">
        <input type="file" name="file_message" id="file_message" class="dialog__file-input" required />
        <label for="file_message" class="dialog__file-label"></label>
    </div>
    <div class="dialog__input">
        <input 
            class="dialog__input-input" 
            placeholder="Сообщение" 
            name="message" 
            type="text" 
            required
            >
    </div>
    <button class="dialog__submit" type="submit"></button>
</form>