.file {
    margin-bottom: 45px;
    text-align: center;

    &__input {
        position: absolute;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        overflow: hidden;
        opacity: 0;
    }

    &__label {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 130px;
        min-height: 40px;
        margin: 0 auto;
        color: $c-violet;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;

        .is-selected & {
            color: #8d8d8d;
            text-decoration: none;
        }
    }
}
