.form {
    padding: 40px $padding;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    @include box();

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 40px;
    }

    &__field {
        max-width: 280px;
        margin: 0 auto;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__label {
        display: block;
        position: relative;
        color: $c-gray;

        &:focus {
            opacity: 0.5;
        }
        
        span {
            position: absolute;
            left: 0;
            top: 0;
            transition: $transition;
            transform-origin: 0 50%;
        }
    }

    &__input {
        display: block;
        width: 100%;
        border: none;
        height: 30px;
        font-size: 13px;
        padding: 0;
        background: transparent;
        border-bottom: 1px solid $c-violet;
        outline: none;
        @include autocompleteInputBg();

        &:-webkit-autofill,
        &:not(:placeholder-shown),
        &:focus {

            & + span {
                top: -15px;
                transform: scale(0.7);
            }
        }

        &:required:invalid:not(:placeholder-shown) + span + .form__error {
            opacity: 1;
            margin-top: 7px;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin-top: 0;
        font-size: 8px;
        color: #FF2F2F;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
        .is-invalid & {
            opacity: 1;
            margin-top: 7px;
        }
    }

    &__links {
        text-align: center;
        margin-top: 14px;
    }
    
}