.navigation {
    width: 400px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px;

    @include box();

    &__item {
        display: block;
        list-style: none;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        display: inline-block;
        padding: 6px 20px;
        color: #000;
        text-decoration: none;        
        transition: 0.3s ease;

        @include box();

        &:hover {
            background-color: $c-violet;
            color: #fff;
        }
    }
}