<div class="user">
    {{> backUrl back }}
    <div class="user__container">
        {{> avatar avatar }}
        {{#if name }}
            <h3 class="user__name">{{ name }}</h3>
        {{/if}}
        {{> userForm }}
    </div>
</div>