---
title: Чат с пользователем
page-class: chats

---

{{!< main}} 

<div class="chats">
    <aside class="chats__sidebar">
        <div class="chats__ui">
            <div class="chats__profile">

            </div>
            <div class="chats__search">

            </div>
        </div>
        {{> chats_list }}
    </aside>
    <section class="chats__container">
        <div class="chats__messages">
            
        </div>
    </section>
</div>
