---
title: Главная страница
page-class: main
---
{{!< main}}

<nav>
    <ul class="navigation">
        <li class="navigation__item">
            <a href="login.hbs" class="navigation__link">Страница авторизации</a>
        </li>
        <li class="navigation__item">
            <a href="register.hbs" class="navigation__link">Страница регистрации</a>
        </li>
        <li class="navigation__item">
            <a href="user.hbs" class="navigation__link">Страница профиля</a>
        </li>
        <li class="navigation__item">
            <a href="chats.hbs" class="navigation__link">Страница чатов</a>
        </li>
        <li class="navigation__item">
            <a href="chat.hbs" class="navigation__link">Страница отдельного чата</a>
        </li>
        <li class="navigation__item">
            <a href="404.hbs" class="navigation__link">Страница 404</a>
        </li>
        <li class="navigation__item">
            <a href="500.hbs" class="navigation__link">Страница 500</a>
        </li>
    </ul>
</nav>