@import "../../scss/global/variables";
@import "../../scss/global/mixins";

.dialog {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar {
            flex-shrink: 0;
            width: 37px;
            height: 37px;
            margin-right: 10px;
        }
    }

    &__name {
        margin-right: auto;
        font-weight: bold;
    }

    &__menu {
        position: relative;
        flex-shrink: 0;
    }

    &__messages {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        margin: 10px 0;
        padding: 30px 0;
        overflow-x: scroll;
        border-top: 1px solid $c-gray-light;
        border-bottom: 1px solid $c-gray-light;
    }
}

.dialog__menu-button {
    width: 25px;
    height: 25px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMyIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDMgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjEuNSIgY3k9IjIiIHI9IjEuNSIgZmlsbD0iIzFFMUUxRSIvPgo8Y2lyY2xlIGN4PSIxLjUiIGN5PSI4IiByPSIxLjUiIGZpbGw9IiMxRTFFMUUiLz4KPGNpcmNsZSBjeD0iMS41IiBjeT0iMTQiIHI9IjEuNSIgZmlsbD0iIzFFMUUxRSIvPgo8L3N2Zz4K)
        center center / 3px 15px no-repeat;
    border: none;
    border-radius: 100%;
    transition: $transition;
    @include button-reset;

    &:hover {
        background-color: $c-gray-light;
    }
}

.dialog__menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    display: none;
    width: 210px;
    padding: $padding;
    background: $c-white;
    border-radius: 8px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    transition: $transition;
    pointer-events: none;

    .dialog__menu:hover & {
        display: block;
        pointer-events: auto;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 4px 8px;
        text-align: left;
        border: 1px solid $c-gray-light;
        border-radius: 8px;
        transition: $transition;
        @include button-reset;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:hover {
            color: $c-white;
            background-color: $c-violet;
        }
    }
}
