@mixin flex($align: flex-start, $space: space-between) {
    display: flex;
    flex-wrap: wrap;
    align-items: $align;
    justify-content: $space;
}

@mixin retina {
    @media only screen and (minpixel-ratio: 1.5),
        only screen and (minpixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: 1.5dppx),
    only screen and (min-resolution: 144dpi) {
        @content;
    }
}

@mixin box() {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

@mixin autocompleteInputBg() {
    &:-webkit-autofill,
    *:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset !important;
    }
}

@mixin button-reset {
    padding: 0;
    color: inherit;
    font: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
