<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Чат - {{ title }}</title>
	{{!-- <link rel="stylesheet" href="../scss/style.scss"> --}}
</head>
<body>
	<div class="wrapper page-{{ page-class }}">		
        <main class="container">
			{{{body}}}
		</main>		
    </div>

	<script src="../index.js" type="module"></script>
</body>
