html {
    overflow-x: initial !important;
    height: 100%;
}

body,
html {
    overflow-x: hidden;
}

body {
    display: flex;
    font-family: "Arial", sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 1.5;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    word-break: normal;
}

.wrapper {
    width: 100%;
    margin: 0 auto;    
    position: relative;
    z-index: 1;
    b {
        font-weight: bold;
    }
    *, 
    *::before,
    &::after {
        box-sizing: border-box;
    }

    img {
        display: block;
        width: 100%;
        user-select: none;
    }
}

.container {
    padding: $padding;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    // min-height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-no-scroll {
    position: relative;
    overflow: hidden;
}

#app {
    width: 100%;
}